
<app-layout>
<div class="container d-flex">
    <div class="card" style="width: 18rem; margin-left: 2rem">
        <img class="card-img-top" src="../../assets/img/photo1.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Concert 1</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem; margin-left: 2rem">
          <img class="card-img-top" src="../../assets/img/photo2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Concert 2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card" style="width: 18rem; margin-left: 2rem">
            <img class="card-img-top" src="../../assets/img/phto3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Concert 3</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
</div>
</app-layout>